[class*="col-"] {
  padding: 0;
  margin: 0;
}

/** {
	border: 1px solid #bbb;
}*/
body {
  padding: 0;
  margin: 0;
  backround-color: #wh;
}

.container-fluid {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

header {
  padding: 0;
  margin: 0;
}

.hero {
  background-image: url("../images/header.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 850px;
}

.hero nav {
  height: 100px;
  width: 100%;
  background-color: #000;
  padding: 0;
  margin: 0;
}

.hero .logo {
  display: inline;
  margin: 25px 25px 25px 200px;
}

.hero ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 70%;
}

.hero li {
  display: inline-block;
  color: #fff;
  line-height: 93px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
}

.hero li:hover {
  border-bottom: 5px solid #b88b58;
  cursor: pointer;
}

.hero .slogan {
  margin-top: 250px;
  align-self: center;
  height: 480px;
}

.hero .slogan h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 69px;
}

.hero .slogan p {
  padding: 29px 0 30px 0;
  text-align: center;
  height: 18px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.hero .slogan button {
  margin: 30px 560px;
  width: 194px;
  height: 45px;
  background-color: #b88b58;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 25px;
  line-height: 18px;
  border: none;
}

.hero .slogan .dots {
  margin: 120px 620px 15px 620px;
}

.about {
  padding: 55px;
  position: relative;
}

.about img.phone {
  position: absolute;
  top: -35px;
  right: 80px;
  background-color: #b88b58;
  padding: 15px;
  border-radius: 50%;
}

.about h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.about h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 45px;
  color: #aeaeae;
  color: #aeaeae;
}

.about .container {
  padding: 0 0 50px 0;
}

.about .container p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 25px;
  color: #242424;
  font-weight: 500;
}

.about .container button {
  margin-top: 15px;
  background-color: #b88b58;
  width: 194px;
  height: 45px;
  color: #fff;
  font-size: 14px;
  border-radius: 25px;
  text-transform: uppercase;
  border: none;
}

.about .container img {
  width: 445px;
  height: 275px;
}

.services {
  padding: 55px;
  height: 416px;
  width: 100%;
  background-color: #000;
}

.services h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.services h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 45px;
  color: #aeaeae;
  margin-bottom: 55px;
}

.services .icon {
  text-align: center;
  border-left: 2px solid #bebebe;
}

.services .icon:last-of-type {
  border-right: 2px solid #bebebe;
}

.services .icon h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
}

.services .icon p {
  color: #7e7e7e;
  font-size: 12px;
}

.projects {
  padding: 55px;
  height: 950px;
  width: 100%;
}

.projects h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.projects h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 45px;
  color: #aeaeae;
}

.projects ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  width: 710px;
  height: 58px;
  margin-left: 20%;
  padding: 0;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #cfcfcf;
}

.projects ul li {
  display: inline-block;
  padding: 0 22px;
  font-size: 14px;
  line-height: 52px;
  text-transform: uppercase;
  border-right: 1px solid #aeaeae;
}

.projects ul li:last-of-type {
  border-right: none;
}

.projects ul li:hover {
  border-bottom: 3px solid #b88b58;
  cursor: pointer;
}

.projects .portfolio {
  margin: 0 auto;
  width: 1080px;
  padding-top: 23px;
}

.projects .portfolio .container, .projects .portfolio .row {
  padding: 0;
  margin: 0;
}

.projects .portfolio img {
  padding: 15px;
  position: relative;
  z-index: -1;
}

.projects .portfolio .layer {
  opacity: 0;
  text-align: center;
  color: #fff;
  position: absolute;
  width: 255px;
  height: 165px;
  left: 15px;
  top: 15px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.projects .portfolio .layer:hover {
  opacity: 1;
  transition: 1s;
  cursor: pointer;
}

.projects .portfolio .layer h4 {
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

.projects .portfolio .layer p {
  font-size: 12px;
  font-weight: 300;
}

.projects button {
  margin: 30px 43%;
  padding: 10px 45px;
  background-color: #b88b58;
  border: none;
  width: 194px;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.team {
  width: 100%;
  height: 700px;
  background-image: url("../images/Bg_image.png");
  margin-top: 55px;
  padding: 55px;
  object-fit: cover;
}

.team h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.team h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 45px;
  color: #aeaeae;
}

.team .person {
  background-color: #fff;
  width: 350px;
  height: 432px;
}

.team .person img {
  margin: 48px 83px;
}

.team .person h3 {
  color: #000;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 15px;
}

.team .person p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.team .person .socials {
  margin-top: 30px;
}

.team .person .socials i {
  font-size: 14px;
  width: 33px;
  height: 33px;
  text-align: center;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
  background-color: #bebebe;
  margin-left: 11px;
}

.team .person .socials i:hover {
  background-color: #b88b58;
  transition: .5s;
}

.team .dots {
  margin: 34px 550px;
}

.clients {
  padding: 55px;
  background-color: #F7F7F7;
}

.clients h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.clients h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 45px;
  color: #aeaeae;
}

.clients h4 {
  text-align: center;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
}

.clients p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.clients img {
  margin: 77px 530px 30px 530px;
}

.clients .quotes {
  margin: 15px 600px;
}

.clients .opinion {
  margin-left: 250px;
  width: 728px;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

/*# sourceMappingURL=style.css.map */