$accent_color: #b88b58;
$bl: #000;
$wh: #fff;
$small_h: #aeaeae;

@mixin reset_default {
	padding: 0;
	margin: 0;
}

@mixin header_styles {		
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

@mixin small_header {
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 30px;
	margin-bottom: 45px;
	color: $small_h;

}

[class*="col-"] {
	@include reset_default;
}

/** {
	border: 1px solid #bbb;
}*/

body {
	@include reset_default;
	backround-color: #wh;
}

.container-fluid {
	width: 100%;
	height: auto;
	@include reset_default;
}

//Header styles

header {
	@include reset_default;
}

.hero {
	background-image: url("../images/header.png");
	background-position: center;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 850px;

	nav {
		height: 100px;
		width: 100%;
		background-color: $bl;
		@include reset_default;
	}

	.logo {
		display: inline;
		margin: 25px 25px 25px 200px;
	}

	ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include reset_default;
		height: 100px;
		width: 70%;
	}

	li {
		display: inline-block;
		color: $wh;
		line-height: 93px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 10px;
		&:hover {
			border-bottom: 5px solid $accent_color;
			cursor: pointer; 
		}
	}

	.slogan {
		margin-top: 250px;
		align-self: center;
		height: 480px;

		h1 {
			text-align: center;
			text-transform: uppercase;
			color: $wh;
			font-size: 72px;
			font-weight: 700;
			line-height: 69px;
		}

		p {
			padding: 29px 0 30px 0;
			text-align: center;
			height: 18px;
			color: $wh;
			font-size: 24px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;	
		}

		button {
			margin: 30px 560px;
			width: 194px;
			height: 45px;
			background-color: $accent_color;
			color: $wh;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			border-radius: 25px;
			line-height: 18px;
			border: none;
		}

		.dots {
			margin: 120px 620px 15px 620px;
		}

	}

}

//About us section

.about {
	padding: 55px;
	position: relative;

		img.phone {
			position: absolute;
			top: -35px;
			right: 80px;
			background-color: $accent_color;
			padding: 15px;
			border-radius: 50%;
		}

		h2 {
			@include header_styles;
		}

		h3 {
			@include small_header;
			color: $small_h;
		}

		.container {
			padding: 0 0 50px 0;

			p {
				margin-top: 8px;
				font-size: 14px;
				line-height: 25px;
				color: #242424;
				font-weight: 500;
			}

			button {
				margin-top: 15px;
				background-color: $accent_color;
				width: 194px;
				height: 45px;
				color: $wh;
				font-size: 14px;
				border-radius: 25px;
				text-transform: uppercase;
				border: none;
			}

			img {
				width: 445px;
				height: 275px;
			}
		}
}

//Services section

.services {
	padding: 55px;
	height: 416px;
	width: 100%;
	background-color: $bl;

	h2 {
		@include header_styles;
		color: $wh;
	}

	h3 {
		@include small_header;
		margin-bottom: 55px;
	}

	.icon {
		text-align: center;
		border-left: 2px solid #bebebe;
		&:last-of-type {
			border-right: 2px solid #bebebe;
		}

		h4 {
			color: $wh;
			text-transform: uppercase;
			font-size: 18px;
			margin-top: 20px;
		}

		p {
			color: #7e7e7e;
			font-size: 12px;
		}
	}
}

//Projects section 

.projects {
	padding: 55px;
	height: 950px;
	width: 100%;

	h2 {
		@include header_styles;
	}

	h3 {
		@include small_header;
	}

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ededed;
		width: 710px;
		height: 58px;
		margin-left: 20%;
		padding: 0;
		text-align: center;
		border-radius: 25px;
		border: 1px solid #cfcfcf;

		li {
			display: inline-block;
			padding: 0 22px;
			font-size: 14px;
			line-height: 52px;
			text-transform: uppercase;
			border-right: 1px solid #aeaeae;
			&:last-of-type {
				border-right: none;
			}

			&:hover {
				border-bottom: 3px solid $accent_color;
				cursor: pointer;
			}
		}

	}

	.portfolio {
		margin: 0 auto;
		width: 1080px;
		padding-top: 23px;

		.container, .row {
			@include reset_default;
		}

		img {
			padding: 15px;
			position: relative;
			z-index: -1;
		}

		.layer {
			opacity: 0;
			text-align: center;
			color: $wh;
			position: absolute;
			width: 255px;
			height: 165px;
			left: 15px;
			top: 15px;
			z-index: 1;
			background-color: rgba(0, 0, 0, .5);

			&:hover {
				opacity: 1;
				transition: 1s;
				cursor: pointer;
			}

			h4 {
				margin-top: 60px;
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 400;
			}

			p {
				font-size: 12px;
				font-weight: 300;
			}

		}
	}

	button {
		margin: 30px 43%;
		padding: 10px 45px;
		background-color: $accent_color;
		border: none;
		width: 194px;
		border-radius: 25px;
		color: $wh;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;	
	}
}

//Team section 

.team {
	width: 100%;
	height: 700px;
	background-image: url("../images/Bg_image.png");
	margin-top: 55px;
	padding: 55px;
	object-fit: cover;

	h2 {
		@include header_styles;
		color: $wh;
	}

	h3 {
		@include small_header;
	}

	.person {
		background-color: $wh;
		width: 350px;
		height: 432px;

		img {
			margin: 48px 83px;
		}

		h3 {
			color: $bl;
			font-size: 21px;
			text-transform: uppercase;
			font-weight: 400;
			line-height: 21px;
			margin-bottom: 15px;
		}

		p {
			color: $bl;
			font-size: 14px;
			line-height: 24px;
			font-weight: 300;
			text-align: center;
		}

		.socials {
			margin-top: 30px;
			i {
				font-size: 14px;
				width: 33px;
				height: 33px;
				text-align: center;
				padding: 8px;
				border-radius: 50%;
				color: $wh;
				background-color: #bebebe;
				margin-left: 11px;
				&:hover {
					background-color: $accent_color;
					transition: .5s;
			}
		}
		}

	}
	.dots {
		margin: 34px 550px;	
	}
}

//Clients section

.clients {
	padding: 55px;
	background-color: #F7F7F7;

	h2 {
		@include header_styles;
		color: $bl;
		font-size: 24px;
		font-weight: 700;
	}

	h3 {
		@include small_header;
	}

	h4 {
		text-align: center;
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
	}

	p {
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		line-height: 18px;
	}

	img {
		margin: 77px 530px 30px 530px;
	}

	.quotes {
		margin: 15px 600px;
	}

	.opinion {
		margin-left: 250px;
		width: 728px;
		color: #7e7e7e;
		font-size: 14px;
		font-weight: 300;
		line-height: 25px;
	}
}


