$accent_color: #b88b58;
$bl: #000;
$wh: #fff;
$small_h: #aeaeae;

@mixin reset_default {
	padding: 0;
	margin: 0;
}

@mixin header_styles {		
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

@mixin small_header {
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 30px;
	color: $small_h;

}

@mixin button_styles {
	display: block;
	margin: 0 auto;
	color: $wh;
	background-color: $accent_color;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	width: 194px;
	height: 45px;
	border: none;
	border-radius: 25px;
}

[class*="col-"] {
	@include reset_default;
}

/** {
	border: 1px solid #bbb;
}*/

body {
	@include reset_default;
	backround-color: $wh;
}

.container-fluid {
	@include reset_default;
}

//Header styles

header {
	@include reset_default;
}

.hero {
	background-image: url("../images/header.png");
	background-position: center;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 850px;

	nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100px;
		width: 100%;
		background-color: $bl;
		@include reset_default;

		input, label {
			display: none;
		}

		.logo {
			margin-right: 30%;
		}

		.menu_hide {
			width: 60%;
			@include reset_default;
			height: 100px;

			li {
				display: inline-block;
				color: $wh;
				line-height: 93px;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				padding: 0 10px;

				&:hover {
					border-bottom: 5px solid $accent_color;
					cursor: pointer; 
				}
			}
		}

	}

	.slogan {
		margin-top: 250px;
		align-self: center;

		h1 {
			text-align: center;
			text-transform: uppercase;
			color: $wh;
			font-size: 72px;
			font-weight: 700;
			line-height: 69px;
		}

		p {
			padding: 29px 0 30px 0;
			text-align: center;
			height: 18px;
			color: $wh;
			font-size: 24px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;	
		}

		button {
			margin: 67px auto 0 auto;
			@include button_styles;
		}

	}

	.dots {
		display: block;
		margin: 125px auto 43px auto;
	}

}

//About us section

.about {
	padding: 55px 15px;
	position: relative;

		.fa-phone {
			position: absolute;
			width: 65px;
			height: 65px;
			top: -35px;
			right: 80px;
			font-size: 35px;
			text-align: center;
			padding: 5px;
			color: $wh;
			background-color: $accent_color;
			padding: 10px;
			border-radius: 50%;
		}

		h2 {
			@include header_styles;
		}

		h3 {
			@include small_header;
			margin-bottom: 45px;
			color: $small_h;
		}


		p {
			padding: 10px;
			margin-top: 8px;
			font-size: 14px;
			line-height: 25px;
			color: #242424;
			font-weight: 500;
		}

		button {
			margin-top: 15px;
			@include button_styles;
		}

		img {
			width: 445px;
			height: 275px;
		}
}

//Services section

.services {
	padding: 55px;
	height: 416px;
	width: 100%;
	background-color: $bl;

	h2 {
		@include header_styles;
		color: $wh;
	}

	h3 {
		@include small_header;
		margin-bottom: 55px;
	}

	.icon {
		text-align: center;
		border-left: 1px solid #bebebe;
		&:last-of-type {
			border-right: 1px solid #bebebe;
		}

		h4 {
			color: $wh;
			text-transform: uppercase;
			font-size: 18px;
			margin-top: 20px;
		}

		.modern {
			height: 42px;
			margin-top: 14px;
		}

		p {
			color: #7e7e7e;
			font-size: 12px;
			width: 80%;
			margin: 0 auto;
		}
	}
}

//Projects section 

.projects {
	padding: 55px 0 50px 0;
	height: 950px;
	width: 100%;

	h2 {
		@include header_styles;
	}

	h3 {
		@include small_header;
		margin-bottom: 45px;
	}

	.nav  {

		input, label {
			display: none;
		}

		.menu {
			display: block;
			margin: 0 auto;
			background-color: #ededed;
			width: 700px;
			height: 58px;
			padding: 0;
			text-align: center;
			border-radius: 25px;
			border: 1px solid #cfcfcf;

			li {
				display: inline-block;
				padding: 0 22px;
				font-size: 14px;
				line-height: 52px;
				text-transform: uppercase;
				border-right: 1px solid #aeaeae;
				&:last-of-type {
					border-right: none;
				}

				&:hover {
					border-bottom: 3px solid $accent_color;
					cursor: pointer;
				}
			}

		}
	}

	.portfolio {
		margin: 0 auto;
		width: 90%;
		padding-top: 23px;

		.container, .row {
			@include reset_default;
		}

		.photo {
			position: relative;
			width: 255px;
			height: 165px;
			margin: 20px auto;

			img {
				z-index: -1;
				width: 255px;
				height: 165px;
				display: block;
			}

			.layer {
				opacity: 0;
				text-align: center;
				color: $wh;
				position: absolute;
				width: 255px;
				height: 165px;
				z-index: 1;
				background-color: rgba(0, 0, 0, .5);

				&:hover {
					opacity: 1;
					transition: 1s;
					cursor: pointer;
				}

				h4 {
					margin-top: 60px;
					text-transform: uppercase;
					font-size: 18px;
					font-weight: 400;
				}

				p {
					font-size: 12px;
					font-weight: 300;
				}

			}
		}
	}

	button {
		margin-top: 30px;
		@include button_styles;
	}
}

//Team section 

.team {
	padding: 55px 0;
	height: 700px;
	width: 100%;
	background-image: url("../images/Bg_image.png");
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;

	h2 {
		@include header_styles;
		color: $wh;
	}

	h3 {
		@include small_header;
		margin-bottom: 35px;	
	}

	.workers {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.person {
			padding-top: 48px;
			background-color: $wh;
			width: 320px;
			height: 402px;
			margin-right: 30px;

			img {
				width: 180px;
				height: 180px;
				margin: 0 auto 48px auto;
				display: block;
			}

			h3 {
				color: $bl;
				font-size: 21px;
				text-transform: uppercase;
				font-weight: 400;
				line-height: 21px;
				margin-bottom: 15px;
			}

			p {
				color: $bl;
				font-size: 14px;
				line-height: 24px;
				font-weight: 300;
				text-align: center;
			}

			.socials {
				text-align: center;
				i {
					font-size: 14px;
					width: 30px;
					height: 30px;
					text-align: center;
					padding: 8px;
					border-radius: 50%;
					color: $wh;
					background-color: #bebebe;

					&:hover {
						background-color: $accent_color;
						transition: .5s;
					}
				}
			}

		}
	}
	.dots {
		display: block;
		margin: 50px auto 0 auto;
	}
}

//Clients section

.clients {
	padding-top: 55px;
	background-color: #F7F7F7;

	h2 {
		@include header_styles;
		color: $bl;
		font-size: 24px;
		font-weight: 700;
	}

	h3 {
		@include small_header;
	}

	h4 {
		text-align: center;
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		margin-bottom: 14px;
	}

	p {
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		line-height: 18px;
		margin-bottom: 30px;
	}

	img {
		display: block;
		margin: 77px auto 29px auto;
	}

	.quotes {
		display: block;
		margin: 0 auto 18px auto;
	}

	.opinion {
		margin: 0 auto;
		text-align: center;
		width: 70%;
		color: #7e7e7e;
		font-size: 14px;
		font-weight: 300;
		line-height: 25px;
	}

	.dots {
		display: block;
		margin: 51px auto 41px auto;
	}

	.logos {
		background-color: $wh;
		width: 100%;
		border-top: 1px solid #cfcfcf;
		border-bottom: 1px solid #cfcfcf;

		img {
			margin: 45px auto 55px auto;
		}
	}
}

//Prices section
.prices {
	padding: 55px;
	height: 560px;
	background-color: #ededed;

	h2 {
		@include header_styles;
	}

	h3 {
		@include small_header;
		margin-bottom: 0;
	}

	.offers {
		.offer {
			margin: 45px auto;
			background-color: $wh;
			width: 255px;
			height: 343px;
			text-align: center;
			padding-top: 25px;

			h4 {
				font-size: 14px;
				text-align: center;
				font-weight: 400;
				line-height: 21px;
				text-transform: uppercase;
			}

			.price {
				font-size: 10px;
				font-weight: 400;
				line-height: 13px;
				text-align: center;
				text-transform: uppercase;
				color: #7e7e7e;

				span {
					font-size: 30px;
					color: $bl;
					font-weight: 700;
					line-height: 21px;
					margin-top: 4px;
				}
			}

			.description {
				margin-top: 23px;
				font-size: 10px;
				font-weight: 400;
				line-height: 13px;
				color: #7e7e7e;
				text-align: center;
			}

			button {
					margin: 17px auto 33px auto;
					width: 129px;
					height: 45px;
					padding: 10px 38px;
					font-size: 12px;
					font-weight: 700;
					text-transform: uppercase;
					background-color: #373737;
					color: $wh;
					line-height: 18px;
					border-radius: 25px;
					border: none;
					&:hover {
						background-color: $accent_color;;
					}

			}
		}
	}
}

//Premium section

.premium {
	width: 100%;
	height: 757px;
	background-color: $wh;
	padding: 55px 0;

	h2 {
		@include header_styles;
	}

	h3 {
		@include small_header;
	}

	.features {
		margin: 36px 0 27px 75px;
		border-bottom: 1px solid #bebebe;
		padding: 0 15px;

		.wrapper {

			img {
				display: inline-block;
				vertical-align: top;
			}
			.feature {
				display: inline-block;
				margin-left: 25px;

				h4 {
					font-size: 21px;
					text-transform: uppercase;
					font-weight: 700;
					color: #242424;
					display: inline;
				}

				p {
					font-size: 14px;
					font-weight: 300;
					line-height: 25px;
					margin-bottom: 32px;
					&:first-of-type {
						margin-bottom: 42px;
					}
				}
			}
		}
	}

	.dots {
		display: block;
		margin: 0 auto;
	}

	button {
		@include button_styles;
		margin: 40px auto 0 auto;
	}
}

//Some facts section

.facts 	{
	padding-top: 55px;
	background-color: $bl;
	height: 492px;
	text-align: center;

	h2 {
		@include header_styles;
	}

	h3 {
		@include small_header;
		margin-bottom: 0;
	}

	.details {
		height: 230px;
		margin-top: 51px;
		padding-bottom: 55px;

		.detail {
			position: relative;
			height: 154px;
			margin: 30px auto 0 auto;

			h4 {
				font-size: 48px;
				font-weight: 700;
				color: $accent_color;
				line-height: 28px;
			}

			h5 {
				font-size: 18px;
				font-weight: 600;
				text-transform: uppercase;
				color: $wh;
				margin-bottom: 22px;
			}

			p {
				position: absolute;
				font-size: 12px;
				color: #7e7e7e;
				line-height: 21px;
				font-weight: 300;
				margin: 0;
				top: 110px;
				bottom: 0;
			}
		}
	}

	.socials {
		height: 82px;
		padding: 21px;
		font-size: 10px;
		font-weight: 700;
		background-color: $wh;
		color: #aeaeae;

		img {
			display: inline;
			margin-right: 15px;
		}

		p {
			display: inline;
			font-size: 14px;
			text-transform: uppercase;
			margin-right: 63px;
		}

		i {
			width: 33px;
			height: 33px;
			border-radius: 50%;
			color: $wh;
			margin: 0 5px 0 36px;
			padding: 8px;
			font-size: 15px;
			font-weight: 400;

			&.fa-twitter {
				background-color: #34c5f0;
			}

			&.fa-linkedin-in {
				background-color: #127cb4;
			}

			&.fa-facebook-f {
				background-color: #336297;
			}

			&.fa-google-plus-g {
				background-color: #e74237;
			}

			&.fa-pinterest-p {
				background-color: #b71c29;
			}
		}
	}
}

//Contact section

.contact {
	padding-top: 55px;
	background-color: #f7f7f7;
	height: 1068px;

	h2 {
		@include header_styles;
	}

	h3 {
		@include small_header;
	}

	form {
		display: block;
		margin: 93px auto 0 auto;
		width: 570px;

		.form-group {
			@include reset_default;
		}

		.col-lg-5 {
			margin-right: 45px;
		}

		input {
			background-color: inherit;
			font-size: 13px;
			font-weight: 300;
			line-height: 25px;
			text-transform: uppercase;
			color: #9e9e9e;
			padding: 15px 0;
			border: none;
			border-bottom: 2px solid #a4a4a4;
			outline-style: none;
			margin-bottom: 46px;

			&.personal {
				width: 255px;
			}

			&.topic {
				width: 540px;
			}
		}
	}

	button {
		@include button_styles;
		margin-bottom: 76px;
	}

	.map {
		background-image: url("../images/Map.png");
		background-position: center;
		object-fit: cover;
		height: 416px;
		position: relative;

		.info {
			background-color: $wh;
			width: 540px;
			height: 343px;
			padding: 67px 122px 76px 40px;
			position: absolute;
			top: 36px;
			left: 60px;


			p {
				display: block;
				font-size: 12px;
				font-weight: 300;
				line-height: 24px;
				color: #7e7e7e;

				i {
					width: 35px;
					height: 35px;
					background-color: #aeaeae;
					color: $wh;
					border-radius: 50%;
					padding: 8px;
					font-size: 18px;
					font-weight: 600;
					text-align: center;
					margin-right: 17px;
				}
			}
		}
	}
}

// Footer

footer {
	height: 265px;
	background-color: $bl;
	padding: 33px 0;

	.social_links {
		height: 181px;

		i {
			width: 33px;
			height: 33px;
			background-color: #373737;
			color: $wh;
			border-radius: 50%;
			text-align: center;
			padding: 8px;

			&:hover {
				background-color: $accent_color;
			}
		}

		.copyright {
			font-size: 14px;
			text-transform: uppercase;
			color: $wh;
			height: 11px;
			margin-top: 140px;
		}

	}

	.text {
		font-size: 12px;
		color: #7e7e7e;
		font-weight: 300;
		line-height: 21px;
		padding: 0 20px;
	}

	.subscribe {
		text-align: center;
		margin-left: 15px;
		width: 350px;
		height: 198px;
		background-color: #373737;

			input {
				margin-top: 51px;
				padding: 15px 0;
				background-color: inherit;
				outline-style: none;
				line-height: 24px;
				border: none;
				border-bottom: 2px solid #aeaeae;
				color: #9e9e9e;
				font-size: 13px;
				text-transform: uppercase;
			}

			button {
				@include button_styles;
				margin-top: 28px;
			}
	}
}

@media(min-width: 992px) and (max-width: 1190px) {

	.hero {

		.main_menu {
			.logo {
				margin-right: 0;
			}
 
			ul {
				text-align: center;
				width: 90%;

				li {
					line-height: 93px;
					margin: 0 auto;
				}

			}
		}
	}

	.about  {
		height: auto;

		.video {
			width: 400px;
			height: 250px;
		}

	}

	.services {
		height: auto;

	}

	.projects {
		height: auto;
		padding: 55px 0;

		.portfolio {
			width: 100%;

			.layer {
				left: 0;
			}
		}

	}

	.team {
		height: auto;
		padding-bottom: 45px;

		.workers {
			.person {
				width: 300px;
	    		height: 432px;

	    		img {
	    			width: 183px;
	    			height: 183px;
	    			display: block;
	    		}

	    		.socials {
	    			margin-top: 50px;

	    			i {
	    				margin: 0 auto;
	    			}
	    		}
			}
		}
	}

	.clients {
		height: auto;
	}

	.prices {
		height: auto;
		padding: 55px 5px;

		.offers {
			.offer {
				width: 240px;
				padding-bottom: 15px;
			}
		}
	}

	.premium {
		height: auto;
		.features {
			margin-left: 30px;

			.wrapper {
				margin-left: 10%;
				padding-bottom: 0;

				img {
					display: inline;
				}

				.feature {
					display: inline;

					h4 {
						margin-left: 0;
					}

					p {
						margin-left: 60px;
						margin-bottom: 0;
					}
				}
			}
		}

	}

	.facts {
		height: auto;

		.details {
			height: auto;
			padding-bottom: 55px;
		}
	}

	.contact {
		height: auto;
	}

	footer {
		height: auto;

		.subscribe {
			margin-left: 0;
			width: 325px;
		}
	}

}

@media(min-width: 776px) and (max-width: 991px) {

	.hero {

		nav {
			.logo {
				margin-right: 5%;
			}

			.menu_hide {
				width: 85%;
				li {
					font-size: 12px;
					line-height: 94px;
					text-align: center;
				}

			}
		}
	}

	.about  {
		height: auto;

		img {
			display: block;
			margin: 25px auto 0 auto;
		}
	}

	.services {
		height: auto;

		.icon {
			border: 0;
			padding: 15px;
			border-bottom: 1px solid $wh;
			border-left: 1px solid $wh;
			&:first-of-type {
				border-left: 0;
			}
			&:last-of-type {
				border-right: 0;
				border-bottom: 0;
			}
			&:nth-of-type(3) {
				border-bottom: 0;
				border-left: 0;
			}
		}
	}

	.projects {
		height: auto;
		padding: 55px 0;

		.portfolio {
			margin: 0 auto;

		}
	}

	.team {
		padding: 55px 0;

		.workers {

			.person {
				width: 235px;
				height: 380px;
				padding: 30px 0;

				img {
					display: block;
					margin: 0 auto 30px auto;
				}

				.socials {
					margin-top: 30px;
					text-align: center;

					i {
						margin: 0;
						width: 25px;
						height: 25px;
						padding: 5px;
					}
				}
			}
		}
	}

	.clients {
		height: auto;
	}

	.prices {
		height: auto;

		.offers {
			.offer {
				margin: 30px auto;
			}
		}
	}

	.premium {
		height: auto;

		.packages {
			display: block;
			margin: 0 auto;
		}
	}

	.facts {
		height: auto;

		.details {
			height: auto;
			padding-bottom: 55px;

			.detail {
				p {
					left: 30px;
				}
			}

		}
	}

	.contact {
		height: auto;
	}

	footer {
		height: auto;

		.subscribe {
			margin: 15px auto;
		}
	}
}

@media(max-width: 775px) {
	
	.hero {
		height: auto;
		.logo {
			margin: 20px 25px;
			display: inline-block;
		}

		nav {
			min-height: 90px;
			height: auto;
			display: block;
			background-color: $bl;

			label {
				display: inline-block;
				float: right;
				line-height: 88px;
				margin-right: 25px;
				font-size: 30px;
				font-weight: 700;
				color: $accent_color;
				cursor: pointer;
				&:hover {
					color: #aeaeae;
				}
			}

			.menu_hide {
				display: none;
				width: 100%;
				height: auto;

				li {
					font-size: 18px;
					display: block;
					line-height: 50px;
					text-align: center;
					border-top: 1px solid #aeaeae;
					&:hover {
						color: $accent_color;
						border-bottom: 0;
					}
					&:first-of-type {
						border-top: none;
					}
				}

			}


			#toggle_nav:checked + .menu_hide {
				transition: 1s;
				display: block;
			}
		}

		.slogan {
			display: block;
			margin-top: 15%;
			
			h1 {
				font-size: 40px;
			}
			
		}
	}

	.about  {
		height: auto;

		img.video {
			display: block;
			width: 300px;
			height: 220px;
			margin: 25px auto 0 auto;
		}
	}

	.services {
		height: auto;

		.icon {
			margin: 20px 0;
			padding-bottom: 15px;
			border: none;
			border-bottom: 2px solid #bebebe;
			&:last-of-type {
				border-right: none;
				border-bottom: none;
			}
		}


	}

	.projects {
		height: auto;

		.nav {

			label {
				display: block;
				cursor: pointer;
				margin: 0 auto;
				font-size: 25px;
				font-weight: 700;
			}

			#toggle:checked + .menu {
				transition: 1s;
				display: block;
			}

			.menu {
				width: 100%;
				background-color: inherit;
				text-align: center;
				border: none;
				height: auto;
				display: none;

				li {
					display: block;
					border: none;
					border-bottom: 1px solid #aeaeae;
				}

				&:hover {
					border-bottom: none;
				}

				a {
					display: inline;
					color: $bl;
					text-decoration: none;

					&:hover {
						color: $accent_color;
					}
				}
			
			}
		}

		.portfolio {
			width: 100%;

			img {
				display: block;
				margin: 0 auto 5px auto;
				width: 300px;
				height: 200px;
			}
		}
	}

	.team {
		background-image: none;
		background-color: #EDEDED;
		height: auto;
		padding: 55px 0;

		h2 {
			color: $bl;
		}

		.container, .row {
			@include reset_default;
			max-width: 100%;
		}

		.workers {

			.person {
				margin: 15px auto 30px auto;
	
			}
		}
	}

	.clients {
		height: auto;
	}

	.prices {
		height: auto;

		.offer {
			display: block;
			margin: 20px auto;
		}
	}

	.premium {
		height: auto;

		.packages {
			display: block;
			width: 300px;
			height: 250px;
			margin: 0 auto;
		}

		.features {
			margin: 0;

			.wrapper {
				img {
					display: inline;
				}
				.feature {
					max-width: 280px;
					display: inline;
					margin-left: 5px;

					p {
						margin-left: 45px;
					}

				}
			}
		}

		.dots {
			margin-top: 20px;
		}
	}

	.facts {
		height: auto;

		.details {
			height: auto;
			padding-bottom: 30px;

			.detail {
				max-width: 60%;

				p {
					left: 15px;
				}
			}
		}

		.socials {
			height: auto;

			p {
				margin-right: 20px;
				line-height: 35px;
			}

			i {
				margin: 5px;

			}

		}
	}

	.contact {
		height: auto;

		h3 {
			width: 90%;
			margin: 10px auto 0 auto;
		}

		form {
			width: auto;
			margin-top: 30px;
			padding-left: 15px;
			text-align: center;

			input.topic {
				width: 300px;
			}
		}

		.map {
			margin: 0;

			.info {
				padding: 20px;
				width: 360px;
				height: 285px;
				left: 0;

				p {
					margin-bottom: 10px;
				}
			}
		}

	}

	footer {
		height: auto;

		.social_links {
			text-align: center;
			height: 60px;

			i {
				width: 30px;
				height: 30px;
				text-align: center;
				padding: 6px;
			}

			.copyright {
				display: inline;
				margin-left: 5px;
			}
		}

		.text {
			padding: 15px;
		}

		.subscribe {
			margin: 20px auto 0 auto;
			width: 300px;
			height: 198px;

			input {
				text-align: center;
			}
		}
	}	
}